@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Select Body Part</h1>

<form method="post">

<div class="mt-3">
    <label class="form-label">Arms</label>
</div>
<a href="">
    <img input type="image" src="https://hips.hearstapps.com/hmg-prod/images/bodybuilder-preparing-a-barbell-on-a-power-rack-in-royalty-free-image-1604683794.?crop=0.750xw:1.00xh;0.250xw,0&resize=640:*" style="width:250px;height:250px;" />
</a>

    <div class="mt-3">
        <label class="form-label">Back And Shoulders</label>
    </div>

    <a href="">
        <img input type="image" src="https://cdn11.bigcommerce.com/s-3pp378gtvu/images/stencil/2560w/uploaded_images/shoulder-and-back-workout.jpg?t=1668539564" style="width:250px;height:250px;" />
    </a>

    <div class="mt-3">
        <label class="form-label">Chest</label>
    </div>

    <a href="">
        <img input type="image" src="https://hansplace.com/wp-content/uploads/iStock_000015641412Small-2.jpg" style="width:250px;height:250px;" />
    </a>

    <div class="mt-3">
        <label class="form-label">Abs</label>
    </div>

    <a href="">
        <img input type="image" src="https://i0.wp.com/www.muscleandfitness.com/wp-content/uploads/2019/08/Guy-Showing-Off-Abs-and-Chest.jpg?quality=86&strip=all" style="width:250px;height:250px;" />
    </a>

    <div class="mt-3">
        <label class="form-label">Legs</label>
    </div>

    <a href="">
        <img input type="image" src="https://i0.wp.com/www.muscleandfitness.com/wp-content/uploads/2000/09/Man-And-Woman-Showing-Muscular-Legs.jpg?quality=86&strip=all" style="width:250px;height:250px;" />
    </a>
    
    <div class="mt-3">
        <label class="form-label">Legs</label>
    </div>

    <a href="">
        <img input type="image" src="https://youfit.com/wp-content/uploads/2022/09/cardio-workouts-at-the-gym.png" style="width:250px;height:250px;" />
    </a>


@* <div class="mt-3">
    <button type="submit" class="btn btn-primary">Next</button>
</div> *@

</form>