@{
    ViewData["Title"] = "Build Program";
}

<div class="text-center">
    <h1 class="display-6">Build Program</h1>
</div>

<div class="align-self-sm-center">
    <h1>Build Program</h1>
    <div class="scrollable-list-container">
        <ul class="scrollable-list">
            <li>Phase 1</li>
            <li>Test 1 Preview</li>
            <li>Phase 2</li>
            <li>Test 2 Preview</li>
            <li>Phase 3</li>
            <li>Test 3 Preview</li>
            <li>Phase 4</li>
            <li>Test 4 Preview</li>
            <li>Phase 5</li>
            <li>Test 5 Preview</li>
        </ul>
    </div>
</div>

<div class="align-self-sm-center">
    <h1>Up To Date</h1>
    <div class="scrollable-list-container">
        <ul class="scrollable-list">
            <li>Exit/Requirement Test</li>
            <li>Final Test Preview</li>
        </ul>
    </div>
</div>

<div class="text-center">
    <h1 class="display-6">Select Template</h1>
</div>

<div class="mt-3">
    <button type="submit" class="btn-primary">Send</button>
</div>