@{
    ViewData["Title"] = "Select Athlete";
}


<body>
    <h1>Select Athlete</h1>

    <form>
        <fieldset>
            <ol>
                <label for="athlete"><img src="rugby.jpg">Athlete 1<input type="checkbox" name="athlete1" id="athlete" class="inline" checked></label>
                <br>

                <label for="athlete"><img src="rugby.jpg">Athlete 2<input type="checkbox" name="athlete2" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="rugby.jpg">Athlete 3<input type="checkbox" name="athlete3" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="rugby.jpg">Athlete 4<input type="checkbox" name="athlete4" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="rugby.jpg">Athlete 5<input type="checkbox" name="athlete5" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="rugby.jpg">Athlete 6<input type="checkbox" name="athlete6" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="rugby.jpg">Athlete 7<input type="checkbox" name="athlete7" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="rugby.jpg">Athlete 8<input type="checkbox" name="athlete8" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="rugby.jpg">Athlete 9<input type="checkbox" name="athlete9" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="rugby.jpg">Athlete 10<input type="checkbox" name="athlete10" id="athlete" class="inline"></label>
                <br>
            </ol>
        </fieldset>

        <a href="injury details.html">
            <button>Save</button>

            <style>
               

                button {
                    display: block;
                    width: 60%;
                    margin: 1em auto;
                    height: 1em;
                    font-size: 1.3rem;
                    background-color: #3b3b4f;
                    border-color: white;
                    color: white;
                    min-width: 200px;
                    min-height: 50px;
                    text-align: center;
                }

            </style>
    </form>
</body>