
@{
    ViewData["Title"] = "CurrentProgramWorkout";
}

<body>
        <h2>Select Items:</h2>

        <form id="itemForm" style="text-center">
            <input type="checkbox" id="item1" name="item" value="Strength And Conditioning">
            <label for="item1">Strength And Condioning Workouts</label><br>

            <input type="checkbox" id="item2" name="item" value="Agility">
            <label for="item2">Agility Workouts</label><br>

            <input type="checkbox" id="item3" name="item" value="Forwards Workouts">
            <label for="item3">Forwards Workouts</label><br>

            <input type="checkbox" id="item4" name="item" value="Backline Workouts">
            <label for="item4">Backline Workouts</label><br>

            <input type="checkbox" id="item5" name="item" value="Scrumhalf Workouts">
            <label for="item5">Scrumhalf Workouts</label><br>
        </form>

        <div class="selected-items">
            <h2>Selected Preview:</h2>
            <ul id="selectedList"></ul>
        </div>

        <script>
            // JavaScript to handle checkbox selection
            var checkboxes = document.querySelectorAll('input[name="item"]');
            var selectedList = document.getElementById('selectedList');

            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    if (this.checked) {
                        // Add item to selected list
                        var listItem = document.createElement('li');
                        listItem.textContent = this.value;
                        selectedList.appendChild(listItem);
                    } else {
                        // Remove item from selected list if unchecked
                        var items = selectedList.getElementsByTagName('li');
                        for (var i = 0; i < items.length; i++) {
                            if (items[i].textContent === this.value) {
                                items[i].remove();
                                break;
                            }
                        }
                    }
                });
            });
        </script>

   

    <div class="align-self-sm-center">
        <!-- In CurrentProgramWorkout.cshtml -->
        @using (Html.BeginForm("BodyPartSelect", "Workout", FormMethod.Get))
        {
            <input class="button" type="submit" value="Add Workout Program" />
        }
    </div>
</body>




<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    header {
        background: #D4AF37;
        color: #fff;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    body {
        line-height: 1.6;
        background-color: #000435;
        color: #D4AF37;
    }

    footer {
        background: #D4AF37;
        color: #fff;
        padding: 1rem 2rem;
        text-align: center;
    }

    .logo {
        font-size: 1.5rem;
    }

    nav ul {
        list-style: none;
        display: flex;
    }

        nav ul li {
            margin-left: 1rem;
        }

            nav ul li a {
                color: #fff;
                text-decoration: none;
            }

    .title-color{
        color: #D4AF37;
        text-align: center;
    }
    .scrollable-list-container {
        margin-block-start: 1rem;
        max-height: 400px;
        width: auto;
        border: 1px solid #D4AF37;
        padding: 1rem;
        background-color: white;
        overflow-y: scroll;
    }

    .scrollable-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        color: #D4AF37;
    }

    .scrollable-list li {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        color: #D4AF37;
    }

    .scrollable-list li:last-child {
        border-bottom: none;
    }

    .button {
        display: block;
        width: 40%;
        margin: 1em auto;
        height: 1em;
        font-size: 1.2rem;
        background-color: #D4AF37;
        border-width: 3px;
        border-color: white;
        color: white;
        min-width: 200px;
        min-height: 50px;
        text-align: center;
        border-radius: 10px;
    }
</style>

