
@{
    ViewData["Title"] = "CurrentProgramWorkout";
}
<body>
    <div class="align-self-sm-center">
        <div class="title-color">
            <h1>Current Program Workout</h1>
        </div>

        <div class="scrollable-list-container">
            <ul class="scrollable-list">
                <li>Strength And Conditioning</li>
                <li>Agility</li>
                <li>Forwards Workout</li>
                <li>Backline Workout</li>
                <li>Scrumhalf Exercises</li>
            </ul>
        </div>

            <button type="button">Add Workout Program</button>

        
    </div>
</body>




<style>

    body{
        background-color: #000435;
        color: white;
    }

    .title-color{
        color: #D4AF37;
        text-align: center;
    }
    .scrollable-list-container {
        margin-block-start: 1rem;
        max-height: 400px;
        width: auto;
        border: 1px solid #D4AF37;
        padding: 1rem;
        background-color: white;
        overflow-y: scroll;
    }


    .scrollable-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        color: #D4AF37;
    }

    .scrollable-list li {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        color: #D4AF37;
    }

    .scrollable-list li:last-child {
        border-bottom: none;
    }

    button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: #D4AF37;
        color: #fff;
        border-radius: 0 5px 5px 0;
    }


</style>

