@{
    ViewData["Title"] = "Athlete Name";
}

<div class="align-self-sm-center">
    <h1 class="display-6">Injury Details</h1>
</div>

<p>Musculoskeletal pain affects bones, joints, ligaments, tendons or muscles. An injury such as a fracture may cause sudden, severe pain. A chronic condition like arthritis may also cause pain. If musculoskeletal pain interferes with your usual activities, speak with a healthcare provider. The right treatment can help relieve the pain.</p>

<div class="align-self-sm-center">
    <h1 class="display-6">Documents</h1>
</div>

<p>No current injury history available.</p>


<div class="mt-3">
    <button type="submit" class="btn-primary">Next</button>
</div>