@{
    ViewData["Title"] = "Current Programs";
 
}

<html>
<body>
    
        <div>
            <h1>Physio Current Program</h1>
        </div>

        <div class="scrollable-list-container">
            <ul class="scrollable-list">
                <li>
                    <label for="checkbox1">
                        <input type="checkbox" id="checkbox1" name="checkbox1" value="option1">
                    Strength Training
                    </label>
                </li>
                <li>
                    <label for="checkbox2">
                        <input type="checkbox" id="checkbox2" name="checkbox2" value="option2">
                    Power Exercises
                    </label>
                </li>
                <li>
                    <label for="checkbox3">
                        <input type="checkbox" id="checkbox3" name="checkbox3" value="option3">
                    Core Stability
                    </label>
                </li>
                <li>
                    <label for="checkbox4">
                        <input type="checkbox" id="checkbox4" name="checkbox4" value="option4">
                    Agility and Speed Drills
                    </label>
                </li>
                <li>
                    <label for="checkbox5">
                        <input type="checkbox" id="checkbox5" name="checkbox5" value="option5">
                    Endurance Conditioning
                    </label>
                </li>
            <li>
                <label for="checkbox5">
                    <input type="checkbox" id="checkbox5" name="checkbox5" value="option5">
                    Mobility and Flexibility
                </label>
            </li>

            </ul>
        </div>

        @* <!-- In CurrentProgramWorkout.cshtml -->
        @using (Html.BeginForm("BodyPartSelect", "Workout", FormMethod.Get))
        {
        <input class="button" type="submit" value="Add Workout Program" />
        } *@
    

    <a href="SelectAthlete.cshtml">
        <button>Create</button>
      </a>

    
</body>
</html>
    
      <style>

        body {
            width: 100%;
            height: 75vh;
            margin: 0;
            background-color: #000435;
            color: #f5f6f7;
            font-family: Tahoma;
            font-size: 16px;
        }

        header {
            background: #D4AF37;
            color: #fff;
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            
        button {
            display: block;
            width: 60%;
            margin: 1em auto;
            height: 1em;
            font-size: 1.3rem;
            background-color: #3b3b4f;
            border-color: white;
            color: white;
            min-width: 200px;
            min-height: 50px;
            text-align: center;
            }

        footer {
            background: #D4AF37;
            color: #fff;
            padding: 1rem 2rem;
            text-align: center;
        }

    </style>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    header {
        background: #D4AF37;
        color: #fff;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    body {
        line-height: 1.6;
        background-color: #000435;
        color: #D4AF37;
    }

    .logo {
        font-size: 1.5rem;
    }

    nav ul {
        list-style: none;
        display: flex;
    }

        nav ul li {
            margin-left: 1rem;
        }

            nav ul li a {
                color: #fff;
                text-decoration: none;
            }

    .title-color {
        color: #D4AF37;
        text-align: center;
    }

    .scrollable-list-container {
        margin-block-start: 1rem;
        max-height: 400px;
        width: auto;
        border: 1px solid #D4AF37;
        padding: 1rem;
        background-color: white;
        overflow-y: scroll;
    }

    .scrollable-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        color: #D4AF37;
    }

        .scrollable-list li {
            padding: 8px;
            border-bottom: 1px solid #ddd;
            color: #D4AF37;
        }

            .scrollable-list li:last-child {
                border-bottom: none;
            }

    
</style>
