@{
    ViewData["Title"] = "Current Programs";
 
}

<body>
    <h1>Current Program</h1>
    <p>Please fill out this form with the required information</p>
      <fieldset>
        <label for="current program">Current Programs:
            <form action="/action_page.php">
            <label for="fname">Program 1: </label>
            <input type="text" id="fname" name="fname"><br><br>
                <label for="lname">Program 2: </label>
            <input type="text" id="lname" name="lname"><br><br>
                <label for="fname">Program 3: </label>
            <input type="text" id="fname" name="fname"><br><br>
                <label for="lname">Program 4: </label>
            <input type="text" id="lname" name="lname"><br><br>
            </form>
            <styles>
    </p>
        </label>
      </fieldset>
    <a href="SelectAthlete.cshtml">
        <button>Create</button>
      </a>
    
      <style>

        body {
            width: 100%;
            height: 100vh;
            margin: 0;
            background-color: #000435;
            color: #f5f6f7;
            font-family: Tahoma;
            font-size: 16px;
        }

        header {
            background: #D4AF37;
            color: #fff;
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            
        button {
            display: block;
            width: 60%;
            margin: 1em auto;
            height: 1em;
            font-size: 1.3rem;
            background-color: #3b3b4f;
            border-color: white;
            color: white;
            min-width: 200px;
            min-height: 50px;
            text-align: center;
            }

        footer {
            background: #D4AF37;
            color: #fff;
            padding: 1rem 2rem;
            text-align: center;
        }

            footer .quick-links, footer .social-media, footer .contact-info {
                margin-bottom: 1rem;
            }

            footer a {
                color: #fff;
                text-decoration: none;
                margin: 0 0.5rem;
            }

    </style>

  </body>