@{
    ViewData["Title"] = "Select Athlete";
}

@model List<MockWebApp.Models.Entities.User>

<body>
    <h1>Select Athlete</h1>
        <body>
        <div class="container">
                <img src="https://us.123rf.com/450wm/wavebreakmediamicro/wavebreakmediamicro1509/wavebreakmediamicro150943212/45525879-portrait-of-serious-athlete-with-rugby-ball-against-black-background.jpg?ver=6"
             alt="Profile 1" width="80" height="80">
        <input type="checkbox">
        <ul>
                        <li>ID: 001</li>
                        <li>Name: John Doe</li>
                        <li>Jersey Number: 10</li>
                        <li>Email: john.doe@example.com</li>
                        <li>Team: UWC Rugby</li>
        </ul>
        </div>

        <div class="container">
                <img src="https://media.istockphoto.com/id/1135713600/photo/the-silhouette-of-one-caucasian-rugby-male-player-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=-Fydy72QZGzPDsVBgQPmhoRA9IUMj5RoU0ZvukMq2J8="
             alt="Profile 2" width="80" height="80">
        <input type="checkbox">
        <ul>
                        <li>ID: 002</li>
                        <li>Name: Zane Smith</li>
                        <li>Jersey Number: 12</li>
                        <li>Email: zane.smith@example.com</li>
                        <li>Team: UWC Rugby</li>
        </ul>
        </div>

        <div class="container">
                <img src="https://media.istockphoto.com/id/531057310/photo/rugby-player-running.jpg?s=612x612&w=0&k=20&c=XObYnj2edh2uPXFevSgvDBb0-qCCGReQShZz2iWHXWA="
             alt="Profile 2" width="80" height="80">
        <input type="checkbox">
        <ul>
                        <li>ID: 003</li>
                        <li>Name: Lee Stroodles</li>
                        <li>Jersey Number: 2</li>
                        <li>Email: lee.stroodles@example.com</li>
                        <li>Team: UWC Rugby</li>
        </ul>
        </div>

        <div class="container">
                <img src="https://media.istockphoto.com/id/1222830021/photo/i-could-stay-out-here-all-day.jpg?s=612x612&w=0&k=20&c=_v9qKxYG7L6giDrLuWxCvtvJBAooDKoaTnDLw0avhgA="
             alt="Profile 2" width="80" height="80">
        <input type="checkbox">
        <ul>
                        <li>ID: 004</li>
                        <li>Name: Alex Johnson</li>
                        <li>Jersey Number: 17</li>
                        <li>Email: alex.johnson@example.com</li>
                        <li>Team: UWC Rugby</li>
        </ul>
        </div>

        <div class="container">
                <img src="https://media.istockphoto.com/id/909562370/photo/celebration-on-rugby-field.jpg?s=612x612&w=0&k=20&c=rgypvicG4NXX4LNTpcS-rmco1c2qPmiWoJ1TcqpFZHQ="
             alt="Profile 2" width="80" height="80">
        <input type="checkbox">
        <ul>
                        <li>ID: 005</li>
                        <li>Name: Taylor Smith</li>
                        <li>Jersey Number: 25</li>
                        <li>Email: taylor.smith@example.com</li>
                        <li>Team: UWC Rugby</li>
        </ul>
        </div>

        <div class="container">
                <img src="https://media.istockphoto.com/id/1423804150/photo/portrait-one-young-african-american-rugby-player-holding-a-rugby-ball-while-standing-outside.jpg?s=612x612&w=0&k=20&c=8GCPHWXroQMqs0OL4IQ9NBB4_ckVaAxZNQD36PstOn8="
             alt="Profile 2" width="80" height="80">
        <input type="checkbox">
        <ul>
                        <li>ID: 006</li>
                        <li>Name: Jordan Brown</li>
                        <li>Jersey Number: 9</li>
                        <li>Email: jordan.brown@example.com</li>
                        <li>Team: UWC Rugby</li>
        </ul>
        </div>

        <div class="container">
                <img src="https://media.istockphoto.com/id/918489308/photo/rugby-man-player-silhouette-isolated.jpg?s=612x612&w=0&k=20&c=gjxImu_pwG_0weVvImcg0iz9NNRGZ_PLWTtHObmD4r0="
             alt="Profile 2" width="80" height="80">
        <input type="checkbox">
        <ul>
                        <li>ID: 007</li>
                        <li>Name: Morgan Davis</li>
                        <li>Jersey Number: 3</li>
                        <li>Email: morgan.davis@example.com</li>
                        <li>Team: UWC Rugby</li>
        </ul>
        </div>

        <div class="container">
                <img src="https://media.istockphoto.com/id/488577552/photo/hes-giving-his-all.jpg?s=612x612&w=0&k=20&c=vgj53HkhueMN0QDDCsPWf6zD0FfoXv2wrdOWc2snde4="
             alt="Profile 2" width="80" height="80">
        <input type="checkbox">
        <ul>
                        <li>ID: 008</li>
                        <li>Name: Casey Lee</li>
                        <li>Jersey Number: 19</li>
                        <li>Email: casey.lee@example.com</li>
                        <li>Team: UWC Rugby</li>
                </ul>
        </div>

        <div class="container">
                <img src="https://media.istockphoto.com/id/596800442/photo/rugby-player-man-isolated.jpg?s=612x612&w=0&k=20&c=YTM5SUqMXfO7cu3-haMkpNzTMrh9-U9Lrv7hGiI2zKs="
             alt="Profile 2" width="80" height="80">
        <input type="checkbox">
                <ul>
                        <li>ID: 009</li>
                        <li>Name: Jamie Miller</li>
                        <li>Jersey Number: 6</li>
                        <li>Email: jamie.miller@example.com</li>
                        <li>Team: UWC Rugby</li>
                </ul>
        </div>

        <div class="container">
                <img src="https://media.istockphoto.com/id/1173782848/photo/one-african-american-man-playing-rugby-on-black-background.jpg?s=612x612&w=0&k=20&c=UCi8s5ArhSVfZrZ9GgzzgOZRihkmUUyVHBmsHG8971U="
             alt="Profile 2" width="80" height="80">
        <input type="checkbox">
                        <ul>
                        <li>ID: 010</li>
                        <li>Name: Riley Wilson</li>
                        <li>Jersey Number: 14</li>
                        <li>Email: riley.wilson@example.com</li>
                        <li>Team: UWC Rugby</li>
                </ul>
        </div>
        </body>

        <a href="PhysioCP.cshtml">
            <button>Save</button>
            </a>

           
        </body>

            <style>
                header {
                    background: #D4AF37;
                    color: #fff;
                    padding: 1rem 2rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

               body {
                    width: 100%;
                    height: 455vh;
                    margin: 0;
                    background-color: #000435;
                    color: #f5f6f7;
                    font-family: Tahoma;
                    font-size: 16px;
               }

                img {
                    height: 200px;
                    width: 200px;
                    border-square: 50%;
                }

                li {
                    list-style-type: none;
                }


                .container {
                border: 2px solid #D4AF37;
                padding: 10px; 
                border-radius: 10px;
                margin: 1em auto;
                }

                button {
                    display: block;
                    width: 60%;
                    margin: 1em auto;
                    height: 1em;
                    font-size: 1.3rem;
                    background-color: #3b3b4f;
                    border-color: white;
                    color: white;
                    min-width: 200px;
                    min-height: 50px;
                    text-align: center;
                }

                footer {
                    background: #D4AF37;
                    color: #fff;
                    padding: 1rem 2rem;
                    text-align: center;
                }

            </style>




    