@{
    ViewData["Title"] = "Select Athlete";
}

@model List<MockWebApp.Models.Entities.User>

<body>
    <h1>Select Athlete</h1>

    <form>
        <fieldset>
            <ol>
                <label for="athlete"><img src="https://us.123rf.com/450wm/wavebreakmediamicro/wavebreakmediamicro1509/wavebreakmediamicro150943212/45525879-portrait-of-serious-athlete-with-rugby-ball-against-black-background.jpg?ver=6">Athlete 1<input type="checkbox" name="athlete1" id="athlete" class="inline" checked></label>
                <br>

                <label for="athlete"><img src="https://media.istockphoto.com/id/1135713600/photo/the-silhouette-of-one-caucasian-rugby-male-player-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=-Fydy72QZGzPDsVBgQPmhoRA9IUMj5RoU0ZvukMq2J8=">Athlete 2<input type="checkbox" name="athlete2" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="https://media.istockphoto.com/id/531057310/photo/rugby-player-running.jpg?s=612x612&w=0&k=20&c=XObYnj2edh2uPXFevSgvDBb0-qCCGReQShZz2iWHXWA=">Athlete 3<input type="checkbox" name="athlete3" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="https://media.istockphoto.com/id/1222830021/photo/i-could-stay-out-here-all-day.jpg?s=612x612&w=0&k=20&c=_v9qKxYG7L6giDrLuWxCvtvJBAooDKoaTnDLw0avhgA=">Athlete 4<input type="checkbox" name="athlete4" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="https://media.istockphoto.com/id/909562370/photo/celebration-on-rugby-field.jpg?s=612x612&w=0&k=20&c=rgypvicG4NXX4LNTpcS-rmco1c2qPmiWoJ1TcqpFZHQ=">Athlete 5<input type="checkbox" name="athlete5" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="https://media.istockphoto.com/id/1423804150/photo/portrait-one-young-african-american-rugby-player-holding-a-rugby-ball-while-standing-outside.jpg?s=612x612&w=0&k=20&c=8GCPHWXroQMqs0OL4IQ9NBB4_ckVaAxZNQD36PstOn8=">Athlete 6<input type="checkbox" name="athlete6" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="https://media.istockphoto.com/id/918489308/photo/rugby-man-player-silhouette-isolated.jpg?s=612x612&w=0&k=20&c=gjxImu_pwG_0weVvImcg0iz9NNRGZ_PLWTtHObmD4r0=">Athlete 7<input type="checkbox" name="athlete7" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="https://media.istockphoto.com/id/488577552/photo/hes-giving-his-all.jpg?s=612x612&w=0&k=20&c=vgj53HkhueMN0QDDCsPWf6zD0FfoXv2wrdOWc2snde4=">Athlete 8<input type="checkbox" name="athlete8" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="https://media.istockphoto.com/id/596800442/photo/rugby-player-man-isolated.jpg?s=612x612&w=0&k=20&c=YTM5SUqMXfO7cu3-haMkpNzTMrh9-U9Lrv7hGiI2zKs=">Athlete 9<input type="checkbox" name="athlete9" id="athlete" class="inline"></label>
                <br>

                <label for="athlete"><img src="https://media.istockphoto.com/id/1173782848/photo/one-african-american-man-playing-rugby-on-black-background.jpg?s=612x612&w=0&k=20&c=UCi8s5ArhSVfZrZ9GgzzgOZRihkmUUyVHBmsHG8971U=">Athlete 10<input type="checkbox" name="athlete10" id="athlete" class="inline"></label>
                <br>
            </ol>
        </fieldset>

        <a href="PhysioCP.cshtml">
            <button>Save</button>
            </a>

            <footer>
                <div class="quick-links">
                    <a href="#"> Privacy Policy</a>
                    <a href="#"> Terms of Service</a>
                    <a href="#"> Site Map</a>
                </div>
                <div class="contact-info">
                    <p> University of the Western Cape, Cape Town, South Africa</p>
                    <p> 021 591 2245 </p>
                    <p> sports@uwc.ac.za</p>
                </div>
            </footer>
    </form>
</body>

            <style>
                header {
                    background: #D4AF37;
                    color: #fff;
                    padding: 1rem 2rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

               body {
                    width: 100%;
                    height: 540vh;
                    margin: 0;
                    background-color: #000435;
                    color: #f5f6f7;
                    font-family: Tahoma;
                    font-size: 16px;
               }

                img {
                    height: 300px;
                    width: 250px;
                    border-radius: 50%;
                    margin-top: 10px;
                    margin-right: 20px;
                    margin-bottom: 30px;
                    margin-left: 40px;
               
                }

                label {
                    display: inline;
                }

                button {
                    display: block;
                    width: 60%;
                    margin: 1em auto;
                    height: 1em;
                    font-size: 1.3rem;
                    background-color: #3b3b4f;
                    border-color: white;
                    color: white;
                    min-width: 200px;
                    min-height: 50px;
                    text-align: center;
                }

                footer {
                    background: #D4AF37;
                    color: #fff;
                    padding: 1rem 2rem;
                    text-align: center;
                }

                 .quick-links, footer .social-media, footer .contact-info {
                        margin-bottom: 1rem;
                    }

                a {
                        color: #fff;
                        text-decoration: none;
                        margin: 0 0.5rem;
                    }

            </style>
    